<div class="container">
  <div class="header">
    <div class="left">
      <h2>Hello, {{ user.username }}</h2>
      <button mat-button (click)="openUsernameChangeDialog()">
        Change username
      </button>
    </div>

    <div class="right">
      <button mat-fab (click)="logoutClicked()" class="logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <div class="filters">
    <div class="block">
      <app-date-time-selector
        [initDate]="startDate"
        (dateChange)="updateStartDate($event)"
        [datepickerLabel]="'Start date'"
        [timepickerLabel]="'Start time'"
      >
      </app-date-time-selector>
    </div>
    <div class="block">
      <app-date-time-selector
        (dateChange)="updateEndDate($event)"
        [datepickerLabel]="'End date'"
        [timepickerLabel]="'End time'"
      >
      </app-date-time-selector>
    </div>
    <mat-slide-toggle
      [checked]="showModifiedData()"
      (toggleChange)="toggleDisplayModifiedData()"
      >Show modified data</mat-slide-toggle
    >
  </div>
  <div class="chart-container">
    <canvas #chart></canvas>
  </div>
</div>
